body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    margin: 0;
    padding: 30px 0;
    text-align: center;
}


h1 {
    font-size: 40px;
    margin-bottom: 30px;
}


.product-card {
    background: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-image {
    width: 100%;
    border-radius: 5px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.product-description {
    color: #555;
    font-size: 15px;
    margin-top: 10px;
}

.price {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

.price span {
    color: red;
}


.add-to-cart {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.add-to-cart:hover {
    background-color: darkblue;
}
